@-webkit-keyframes site-entrance {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes site-entrance {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  -webkit-animation: site-entrance 1.2s;
  animation:         site-entrance 1.2s;

  max-width: 1440px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 800px) {
  body { padding-left: 20px; padding-right: 20px;
  }
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
	font-family: 'Apercu Mono';
	src: url('../fonts/Apercu-Mono.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src: url('../fonts/GT-America-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src: url('../fonts/GT-America-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

body {
  font-family: 'GT America', sans-serif;
  color: #364655;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  margin-left: -2px;
}

@media (min-width: 1024px) {
  h1 { font-size: 48px;
  }
}

h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

@media (min-width: 681px) {
  h2 { font-size: 24px;
  }
}

@media (min-width: 1024px) {
  h2 { font-size: 30px;
  }
}

h3 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}

h3 + p {
  margin-top: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

p + p {
  margin-top: 10px;
}

.p--large {
  font-size: 20px;
  color: #627382;
  margin-bottom: 13px;
  display: none;
}

.p--intro + .p--intro {
  margin-top: 0;
}

.font-mono--small {
  font-family: 'Apercu Mono';
  font-size: 13px;
  line-height: 0;
}

a {
  color: #3E5CFF;
  text-decoration: none;
}

.halfs-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 1024px) {
  .halfs-grid { grid-template-columns: repeat(2, 1fr); grid-column-gap: 40px;
  }
}

.thirds-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 681px) {
  .thirds-grid { grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .thirds-grid { grid-template-columns: repeat(3, 1fr);
  }
}

.hero {
  padding-top: 40px;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 681px) {
  .hero { grid-template-columns: 2fr 3fr;
  }
}

.hero-content {
  text-align: center;
}

@media (min-width: 681px) {
  .hero-content { text-align: left; -ms-flex-item-align: center; align-self: center;
  }
}

.hero-image {
  margin: 40px auto 0;
  width: 50%;
}

@media (min-width: 681px) {
  .hero-image { width: 100%; margin: 0; justify-self: end;
  }
}

.hero-paragraph {
  font-family: 'Apercu Mono';
  line-height: 1.5;
  max-width: 510px;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .hero-paragraph { font-size: 20px;
  }
}

section ~ section {
  margin-top: 80px;
}

section:not(.hero) {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 681px) {
  section:not(.hero) { grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 681px) {
  .section-right { grid-column: 2/3;
  }
}

.project-container {
  display: grid;
  grid-gap: 20px;
}

.social-list {
  font-family: 'Apercu Mono';
  font-size: 13px;
  line-height: 1.7;
  margin-top: 30px;
}

.social-list__item {
  display: inline-block;
}

.social-list__item + .social-list__item {
  margin-left: 20px;
}

footer {
  padding: 120px 0 80px;
  text-align: center;
}

.footer-logo {
  width: 60px;
  margin: 0 auto;
}
