
label {
  display: block;
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  padding: 8px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.05s ease-in-out;

  &:focus {
    border-color: $primaryColor;
    outline: none;
  }
}

input[type="submit"] {
  padding: 8px 20px;
  width: 100%;
  display: block;
  background: $primaryColor;
  border: none;
  color: white;
  transition: all 0.03s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
		background: lighten($primaryColor, 15%);
	}

  &:disabled {
    cursor: default;
    background: #ccc;
  }
}

.asterisk {
  color: $primaryColor;
}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-notice {
  color: white;
  margin-top: 20px;
  padding: 8px 12px;
  height: 0;
  opacity: 0;
  position: absolute;
  left: -999px;
  top: -999px;

  &.js-active {
    opacity: 1;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
}

.form-error {
  background: crimson;
}

.form-success {
  background: #2ecc71;
}
