.form {

  label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
  }

  input[type="email"],
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.05s ease-in-out;

    &:focus {
      border-color: $primaryColor;
      outline: none;
    }
  }

  input[type="submit"] {
    padding: 8px 20px;
    width: 100%;
    display: block;
    background: $primaryColor;
    border: none;
    color: white;
    transition: all 0.03s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
  		background: lighten($primaryColor, 15%);
  	}
  }

  .asterisk {
    color: $primaryColor;
  }

}

input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
