.navigation {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 30px;
  z-index: 2;
  text-align: right;

  @include breakpoint(small) {
    position: absolute;
  }

  @include breakpoint(palm) {
    top: 20px;
    right: 25px;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: 8px;
  }
}

.navigation-link {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ddd;
  font-weight: 900;
  display: inline-block;
  background: #131313;
  padding: 3px 8px;

  &:hover,
  &:focus {
    color: white;
  }

  &.active {
    background: lighten($primaryColor, 10%);
    color: white;
  }
}
