.navigation {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 30px;
  z-index: 2;
  text-align: right;

  @include breakpoint(small) {
    position: absolute;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: 5px;
  }
}

.navigation-link {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;

  // @include breakpoint(small) {
  //   .home & {
  //     color: black;
  //   }
  // }

  &.active {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      height: 0px;
      border-bottom-width: 2px;
      border-bottom-style: solid;

    }
  }

}
