.pageWrapper {
  height: 100%;
}

.pageWrapper-content {
  width: 50%;
  min-height: 100%;
  padding: 100px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(small) {
    width: 100%;
    min-height: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include breakpoint(palm) {
		min-height: auto;
	}
}

.pageWrapper-image {
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  border: 20px solid #F4F5F6;
  border-left: none;

  .home & {
    background-position: top;
  }

  @include breakpoint(small) {
    width: 100%;
    position: relative;
    height: 40vh;
    border: none;
  }

  @include breakpoint(palm) {
		height: 30vh;
	}
}

.pageWrapper-quote {
  display: block;
  position: fixed;
  color: white;
  width: 25%;
  font-size: 25px;
  font-weight: 100;
  top: 50%;
  right: 25%;
  transform: translate(50%, -50%);
  background: black;
  padding: 20px;

  @include breakpoint(1020px) {
    font-size: 20px;
    width: 30%;
  }

  @include breakpoint(small) {
    display: none;
  }
}

.pageWrapper-author {
  font-size: 16px;
  display: block;
  margin-top: 15px;
}


.layout--notes {
  .navigation {
    display: none;
  }

  .pageWrapper-content {
    width: 100%;
    max-width: 800px;
  }
}

.conf-image {
  max-width: 200px;
}
