.post-masthead {
  height: 300px;
  background-size: cover;
  background-position: center;

  @include breakpoint(palm) {
    height: 195px;
  }
}

.post-header {
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint(small) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include breakpoint(palm) {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
}

.post-meta {
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;

  @include breakpoint(palm) {
    margin-bottom: 10px;
  }
}

.post-title {
  margin: 0;
  line-height: 1.3;
  font-size: 55px;
  left: 0;

  @include breakpoint(small) {
    font-size: 40px;
  }

  @include breakpoint(palm) {
    font-size: 30px;
    text-align: left;
  }
}

.post-content {
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  margin: 0 auto;

  @include breakpoint(small) {
    padding-bottom: 50px;
  }

  @include breakpoint(palm) {
    padding-bottom: 30px;
  }
}
