.grid {
  font-size: 0;
  margin-left: -15px;

  > .grid__item {
    display: inline-block;
    font-size: 15px;
    padding-left: 15px;
  }
}

.one-half {
  width: 50%;
}

.small--one-whole {
  @include breakpoint(small) {
		width: 100%;
	}
}
