.halfs-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media(--desktop) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
}

.thirds-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media(--large) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(--desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media(--large) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projects-grid > *:first-child {
  grid-column: 1/3;
}
