.grid {
  display: flex;
  margin-left: calc(var(--gutter) * -1);

  @media (--small) {
    margin-left: calc(var(--gutter) * -0.5);
  }
}

.grid > * {
  margin-left: var(--gutter);

  @media (--small) {
    margin-left: calc(var(--gutter) * 0.5);
  }
}

.grid--halfs > * {
  flex-basis: 50%;
}

.grid--thirds > * {
  flex-basis: calc(100% / 3);
}
