.hero {
  padding-top: 80px;
  display: grid;
  grid-gap: 20px;
  min-height: 100vh;

  @media(--large) {
    grid-template-columns: 2fr 3fr;
    min-height: auto;
  }
}

.hero-content {
  text-align: center;

  @media(--large) {
    text-align: left;
    align-self: center;
  }
}

.hero-image {
  margin: 40px auto 0;
  width: 50%;

  @media(--large) {
    width: 100%;
    margin: 0;
    justify-self: end;
  }
}

.hero-paragraph {
  font-family: 'Apercu Mono';
  line-height: 1.5;
  margin-top: 10px;

  @media(--desktop) {
    font-size: 20px;
  }
}

section ~ section {
  margin-top: 80px;
}
