@font-face {
	font-family: 'Apercu Mono';
	src: url('../fonts/Apercu-Mono.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src: url('../fonts/GT-America-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'GT America';
	src: url('../fonts/GT-America-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

body {
  font-family: 'GT America', sans-serif;
  color: var(--colorBody);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  margin-left: -2px;
}

h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;

  @media(--large) {
    font-size: 24px;
  }

  @media(--desktop) {
    font-size: 30px;
  }
}

h3 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}

h3 + p {
  margin-top: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

p + p {
  margin-top: 10px;
}

.p--large {
  font-size: 20px;
  color: var(--colorSlate);
  margin-bottom: 13px;
  display: none;
}

.p--intro {
  font-family: 'Apercu Mono';
  font-size: 20px;
  line-height: 1.5;
  max-width: 510px;
  margin-top: 10px;
}

.p--intro + .p--intro {
  margin-top: 0;
}

.font-mono--small {
  font-family: 'Apercu Mono';
  font-size: 13px;
  line-height: 0;
}

a {
  color: var(--colorPrimary);
  text-decoration: none;
}
